<!-- intro banner on list pages -->
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
{{- $scratch.Set "image" .Params.image }}
{{- else }}
{{ $scratch.Set "image" "thumbnail.svg" }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image | absLangURL ) }}
<section class = 'intro_header' style = 'background-image:url({{ $bg }});'>
  <h1 class='intro_title'>{{ .Title }}</h1>
</section>
<section>
  <h1 class = 'intro_headline'>{{ .Title }}</h1>
  <p class = 'intro_desc'>{{ .Description }}</p>
</section>

